<footer>
  <div class="footerStyle">
    <div class="<footerText>">
    <div class="logo__footer">
      <img class="logo" style="width: 45px; height: 45px;" src="images/logo.png" />
    </div>
    <p class="copy">
      &copy; Derechos reservados a <a href="#home">Alexander Tisko</a>
    </p>
  </div>
</footer>
