<footer>
  <div class="footerStyle">
    <div class="<footerText>">

      <p
        <img src="./images/arg.png" style="width: 19px; height: 13px" />
      </p>
    </div>
    <div class="mapa">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d210146.9084020133!2d-58.57340505714494!3d-34.615654139092776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa51479cb8bea4239!2sAlexander%20Ti!5e0!3m2!1ses-419!2sar!4v1608466499278!5m2!1ses-419!2sar"
        height="200"
        frameborder="0"
        style="border: 0"
        allowfullscreen=""
        aria-hidden="false"
        tabindex="0"
      ></iframe>
    </div>
    <div class="logo__footer">
      <img class="logo" style="width: 45px; height: 45px;" src="images/logo.png" />
    </div>
    <p class="copy">
      &copy; Derechos reservados a <a href="#home">Alexander Tisko</a>
    </p>
  </div>
</footer>
