<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1 class="form__titulo">Formulario de contacto</h1>

    <div class="formSection">
      <div class="formInfoSection">
        <div class="textInformativo">
          <p style="margin-top: -15px">
            Me alegra que quieras ponerte en contacto. Podes contactarme para lo
            que desees, ya sea arrancar un proyecto, recibir recomendaciones,
            tenes preguntas sobre programación / ingeniería, etc. Para mi es un
            placer que charlemos.
          </p>
          <p>
            Te podes poner en contacto completando el formulario o bien
            escribiendome a los medios de acá abajo.
          </p>
          <p><b>¡Te espero!</b></p>
        </div>
        <div class="formInfoContact">
          <p>
            <img class="formLogos" src="/images/email.png" />
            info@alexandertisko.com
          </p>
          <p>
            <img class="formLogos" src="/images/phone.png" /> +5493434808505
          </p>
          <p>
            <img class="formLogos" src="/images/locationn.png" /> Trabajo remoto
            - De Bs As al mundo.
          </p>
        </div>
      </div>
      <form
        class="form"
        enctype="text/plain"
        action="/formulario"
        method="POST"
      >
        <label for="firstname" class="hidden-label"></label>
        <input
          id="firstname"
          type="text"
          name="username"
          placeholder="Nombre y apellido"
        />
        <input
          id="empresa"
          type="company"
          name="empresa"
          placeholder="Nombre de empresa"
        />
        <label for="email" class="hidden-label"></label>
        <input type="email" id="email" name="email" placeholder="Email" />
        <label for="telephone" class="hidden-label"></label>
        <input
          id="telephone"
          type="tel"
          name="telephone"
          placeholder="Teléfono"
        />
        <label for="comentario" class="comment"></label>
        <textarea
          id="comentario"
          type="comment"
          name="comentario"
          placeholder="Agrega tu texto aquí..."
        ></textarea>
        <input class="submit" type="submit" value="Enviar" />
      </form>
    </div>
  </body>
</html>
