<form class="form" enctype="text/plain" action="/contactanos" method="POST">
  <h1 class="form__titulo">Formulario de contacto</h1>
  <p>
    Ponete en contacto conmigo si deseas crear un proyecto, contar tus ideas,
    tienes preguntas sobre programación / ingeniería, etc.
  </p>
  <p>¡Un gusto hablar contigo!</p>
  <label for="firstname" class="hidden-label"></label>
  <input
    id="firstname"
    type="text"
    name="firstname"
    placeholder="Nombre y apellido"
  />
  <input
    id="empresa"
    type="company"
    name="empresa"
    placeholder="Nombre de empresa"
  />
  <label for="email" class="hidden-label"></label>
  <input type="email" id="email" name="email" placeholder="Email" />
  <label for="telephone" class="hidden-label"></label>
  <input id="telephone" type="tel" name="telephone" placeholder="Teléfono" />
  <label for="comentario" class="comment"></label>
  <textarea
    id="comentario"
    type="comment"
    name="comentario"
    placeholder="Agrega tu texto aquí..."
  ></textarea>
  <input class="submit" type="submit" value="Enviar" />
</form>
