<form class="form" enctype="text/plain" action="/contactanos" method="POST">
  <label for="firstname" class="hidden-label"></label>
  <input
    id="firstname"
    type="text"
    name="firstname"
    placeholder="Nombre y apellido / Empresa"
  />
  <label for="email" class="hidden-label"></label>
  <input type="email" id="email" name="email" placeholder="Email" />
  <label for="telephone" class="hidden-label"></label>
  <input id="telephone" type="tel" name="telephone" placeholder="Teléfono" />
  <label for="comentario" class="comment"></label>
  <textarea
    id="comentario"
    type="comment"
    name="comentario"
    placeholder="Agrega tu texto aquí..."
  ></textarea>
  <input class="submit" type="submit" value="Enviar" />
</form>
