<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
  />
  <title>Alexander Tisko - Diseño web</title>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
  <script src="https://unpkg.com/scroll-out/dist/scroll-out.min.js"></script>
</head>
<link
  href="https://fonts.googleapis.com/css2?family=Dosis&family=Open+Sans&family=Roboto&display=swap"
  rel="stylesheet"
/>

<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="stylesheet" href="/stylesheets/navbar.css" />
<link rel="stylesheet" href="/stylesheets/important.css" />
<link rel="stylesheet" href="/stylesheets/general.css" />

<body class="scrollbar">
  <nav class="menu" id="menu">
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
    <a href="/" action="/" method="POST"
      ><img
        style="width: 30px; height: 30px; margin-top: 2px"
        class="logo logo__header"
        src="images/logo.png"
    /></a>

    <ul class="menu-links">
      <li><a class="one" href="#home">Inicio</a></li>
      <li><a class="two" href="#me">Quién soy</a></li>
      <li><a class="three" href="#comings">Proyectos</a></li>
      <li><a class="four" href="#contact">Contacto</a></li>
    </ul>
  </nav>
</body>
