<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ayudas</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@235&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/styleProgra.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <link rel="stylesheet" href="/stylesheets/errorConst.css" />
  </head>
  <body class="">
    <h1>¡Ups...! Esta sección está en construcción.</h1>
    <p>
      Falta muy poco para que este live. ¡Ojala tuvieramos más tiempo para
      dedicarle al 100%!
    </p>
    <script src="./javascripts/navbar.js"></script>
  </body>
  <h1><a href="/">INICIO</a></h1>
  <div class="botones">
    <%- include('includes/whatsappSVG') %>
  </div>
</html>
