<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('includes/header') %> <%- include('includes/form') %> <%-
    include('includes/footer') %>
    <script src="./javascripts/navbar.js"></script>
    <script src="./javascript/ScrollOut.js"></script>
  </body>
</html>
