
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>Alex</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
  
    <link
      href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap"
      rel="stylesheet"
    />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
  </head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <body id="#scrollbar">
  
    <!--COMIENZO BARRA DE NAVEGACIÓN-->
    <nav class="menu" id="menu">
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      <ul class="menu-links">
        <li><a class="one" href="#home">Inicio</a></li>
        <li>
          <a class="two" href="#me">Quién soy</a>
        </li>
        <li><a class="three" href="#comings">Proyectos</a></li>
        <li><a class="four" href="#contact">Contacto</a></li>
      </ul>
    </nav>
    <!--FIN BARRA DE NAVEGACIÓN-->

     
  <div class="home" id="home">
      <div class="perspective-text">
        <div class="perspective-line">
          <p></p>
          <p>Alexander</p>
        </div>
        <div class="perspective-line">
          <p>Alexander</p>
          <p>Tisko</p>
        </div>
        <div class="perspective-line">
          <p>Tisko</p>
          <p>Web</p>
        </div>
        <div class="perspective-line">
          <p>Web</p>
          <p>Design</p>
        </div>
        <div class="perspective-line">
          <p>Design</p>
          <p></p>
        </div>
      </div> 
      <div class="brphone "> <br > Alexander Tisko </br>Diseñador web</br></div>
     
     
    </div>
    <div class="me" id="me">
      <img
        class="me__pomelo  data-scroll"
        src=""
        alt="pomelo grapefruit orange colors"
      />
      <div class="me__texto">
        <div class="me__titulo">
          <h1 class="me__titulo--background animate__fadeInLeft">Sobre mi</h1>
          <h1 class="me__titulo--original ">Sobre mi</h1>
        </div>
        <div class="me__texto-p">
          <p class="animate__animated animate__bounce">
            ¡Hola! &#128526; &#128526; Mi nombre es Alexander Tisko, soy
            estudiante de Ingeniería Industrial y mi hobbie es la
            programación. Tengo <i>experiencia</i> en HTML, CSS, JavaScript,
            frontend y backend. </p>
            <div class="space"></div>
            <p>Vengo de una familia apasionada por el
            marketing, creo que a estas dos combinaciones, progrmación y
            marketing, se les puede sacar un excelente provecho.
            Estoy en progreso de crear mi propia empresa, la cual ofreceremos todo tipo de soluciones digitales. Desde diseño y creación de web, a diseño gráfico empresarial y marketing digital.
         
            Por último, sí, mi fruta favorita es el pomelo. </p>
        </div>
      </div>
    </div>

     
    </div>
    <div class="parallax">
      <p> <div class="text">
        <span class="spanproyect">P</span>
        <span class="spanproyect">R</span>
        <span class="spanproyect">O</span>
        <span class="spanproyect">Y</span>
        <span class="spanproyect">E</span>
        <span class="spanproyect">C</span>
        <span class="spanproyect">T</span>
        <span class="spanproyect">O</span>
        <span class="spanproyect">S</span>
      </div></p>
    </div>
     
    <div class="proyectos">
      <div class="card" action="/programacion" method="POST" id="tipsProgrmacion">
        <h1 class="entry-title">
          <a href="/programacion" >Tips de programación<br></a>
        </h1>
        <p>Consejos, ayudas, etc</p>
        <small>By <a>Alexander Tisko</a></small>
        
        <span class="cardspan"></span>
        <!--<span class="cardspan">See Also: <a href="https://codepen.io/ariona/pen/JopOOr" target="_blank">3D hove plane effect</a></span>-->
      </div>
      <div class="card">
        <h1 class="entry-title">
          <a href="http://www.ariona.net">Ejercicios de Ingeniería</a>
        </h1>
        <p>Ejercicios realizados</p>
        <small>By <a>Alexander Tisko</a></small>

        
      </div>
     
    </div>
    <div class="contact">
      <div class="formulario">
        <form class="form" action="/contacto" method="POST" enctype="text/plain">
          <label for="firstname" class="hidden-label"></label>
          <input
            id="firstname"
            type="text"
            name="firstname"
            placeholder="Nombre y apellido / Empresa"
          />
          <label for="email" class="hidden-label"></label>
          <input type="email" id="email" name="email" placeholder="Email" />
          <label for="telephone" class="hidden-label"></label>
          <input
            id="telephone"
            type="tel"
            name="telephone"
            placeholder="Teléfono"
          />
          <label for="comentario" class="comment"></label>
          <textarea
            id="comentario"
            type="comment"
            name="comentario"
            placeholder="Agrega tu texto aquí..."
          ></textarea>
          <input class="submit"type="submit" value="Enviar" />
        </form>
      </div>
    </div>
    <div class="prueba">
    <p>asdasdsad</p>
    </div>
    <script src="./javascripts/navbar.js"></script>
  </body>
</html>
