.me {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.me__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.me__texto-p {
    text-align: center;
    width: 95%;
    margin: 0 auto;
}

.me__titulo {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.me__items {
    margin: 200px 0;
    z-index: 1000;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0d0d0d;

}

.me__items2{
    display: none;
}

.me__items-texto {
    color: black;
    background-color: white;
    padding: 10px;
    z-index: 2000;
    width: 100%;
}

button {
    border-style: none;
    background-color: #0d0d0d;
    color: white;
    font-size: 18px;
    padding: 10px;
}

button:focus {
    outline: none;
}

.animation {
    transition: opacity 1s, transform 
    1s;
}

.animation[data-scroll="out"] {
    opacity: 0;
    transform: translateX(-600%) scale(0.4);
}

.animation[data-scroll="in"] {
    opacity: 1;
    transform: translateX(0%) scale(1);
}

@media (min-width: 360px) and (min-height: 640px) {
    .me {
        height: 82vh;
    }
}

@media (min-width: 375px) and (min-height: 667px) {
    .me {
        height: 80vh;
    }
}

@media (min-width:375px) and (min-height: 736px) {
    .me {
        height: 58vh;
    }
}

@media (min-width: 411px) and (min-height: 731px) {
    .me {
        height: 64vh;
    }
}

@media (min-width: 480px) {
    .me {
        height: 100%;
    }
    .me__items {
        display: none;
    }
    .me__texto-p{
        display: none;
    }

    .me__titulo {
        margin: 45px 0;
    }

    .me__items2{
        display: flex;
        flex-direction: column;
    }

    .me__items2 h1{
        letter-spacing: 1.5px;
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .free,
    .student,
    .seo{
        color: white;
        background-color: #0d0d0dfd;
        padding: 25px 35px 25px 25px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        

    }
    .me__items2 p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 40%;
        text-align: center;
    }

    .dise,
    .progr,
    .objective {
        padding: 25px 35px 25px 25px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: white;
        color: #0d0d0d;
        margin: 25px 0;
    }

    .animation2{
        transition: opacity 1s, transform 
    1s;
    }

    .animation2[data-scroll="out"] {
        opacity: 0;
        transform: translateX(600%) scale(0);
    }

    .animation2[data-scroll="in"] {
        opacity: 1;
        transform: translateX(0%) scale(1);
    }
}
@media (min-width: 768px){
    .me{
        height: 100%;    
    }
}
@media (min-width: 880px){
    .me{
        height: 100% ;
    }
    .me__texto-p{
        width: 50%;
    }
    .me__items{
    }
}
@media (min-width: 1280px){
    .me{
        height: 100%;
    }
}
