.logo__header {
  z-index: 200;
  margin: 4px;
  width: 30px;
  height: 30px;
}
.menu {
  width: 100%;
  height: 5vh;
  background-color: whitesmoke;
  box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.3), inset 0 -1px 0 0 white;
  position: fixed;
  font-family: "Poppins", sans-serif;
  width: 100%;
  z-index: 50;
}
.burger {
  margin: auto 5px auto 0;
  position: relative;
  z-index: 10;
  cursor: pointer;
  float: right;
  z-index: 100;
}
.burger div {
  margin: 5px;
  width: 25px;
  height: 3px;
  background-color: #0d0d0d;
  transition: all 0.3 ease;
}

.menu-links {
  opacity: 1;
  margin-top: -10px;
  margin-bottom: 30px;
  position: fixed;
  right: 0;
  height: 104vh;
  width: 100%;
  background-color: rgba(245, 245, 245, 0.883);
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
}
.menu-links li {
  margin-top: -60px;
  list-style: none;
  opacity: 0;
}
.menu-links a {
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  color: #0d0d0d;
}

.menu-active {
  transform: translateX(0%);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
@media (min-width: 580px) {
  .menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .burger {
    float: none;
  }
  .logo__header {
    margin: auto 0 auto 3rem;
  }
  .burger div {
    z-index: 1000;
  }
}
@media (min-width: 880px) {
  .menu-links {
    width: 20%;
  }
}
