.logo {
  width: 50px;
  height: 50px;
}

.home {
  height: 100vh;
  width: 100%;
  background: url("/images/plantsPhone.jpg");
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.homeTitulo {
  text-align: center;
  transform: translateY(25vh);
  color: whitesmoke;
  line-height: 70px;
  letter-spacing: 1.5px;
  margin-bottom: 80px;
  font-family: "Poppins", "Open Sans", sans-serif;
  font-size: 1200;
}

.homeContact {
  color: whitesmoke;
  float: right;
  margin: 200px auto 0 auto;
  font-size: 20px;
}
.btnContact {
  background-color: white;
  width: 40%;
  text-align: center;
  margin: 30px auto 0 auto;
  padding: 10px;
  border-radius: 10px;
}
.btnContact a {
  text-decoration: none;
  color: #0d0d0d;
}

/*About Me Styles*/
.me {
  height: 70vh;
  width: 100%;
  display: flex;
}
.me__texto {
  align-items: center;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.me__titulo {
  margin-top: 30px;
}
.me__titulo--background {
  transition: opacity 500ms, transform 500ms;
}
.me__texto-p {
  margin: 20px 7px 0 7px;
}
.space {
  padding: 10px;
}

/*Proyectos TITULO*/

.parallax {
  height: 300px;
  width: 100%;
  background: url("/images/plantsBar.jpg");
  background-attachment: inherit;
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover;
}
.text {
  display: flex;
  justify-content: center;
  padding-top: 295px;
  transform: translateY(-50%);

  text-align: center;
}

.spanproyect:nth-child(odd) {
  transform: skewY(15deg);
  box-shadow: 0 90px 20px rgba(0, 0, 0, 0.1);
}
.spanproyect:nth-child(even) {
  transform: skewY(-15deg);
  background-color: #ffffff;
  box-shadow: 0 60px 20px rgba(0, 0, 0, 0.1);
}
.spanproyect {
  display: block;
  background-color: #ffffff;
  color: #0d0d0d;
  font-weight: 900;
  width: 120px;
  height: 80px;
  line-height: 85px;
  box-shadow: 0 40px 50px rgba(0, 0, 0, 0.1);
}
/*Proyectos TIPS*/
.proyectos {
  background-color: white;
  width: 100%;
  margin-top: 0px;
}
.card {
  transition: opacity 5s, transform 5s;
  text-align: center;
  width: 95%;
  padding: 30px;
  background: #0d0d0d;
  margin: 50px auto;
  transition: 0.3s ease;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  color: #eca54d;
  box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.3),
    inset 0 -1px 0 0 rgb(68, 68, 68);
}
.card:hover {
  transform: translateY(-10px) scale(1.02);
}

.entry-title small {
  margin-top: 20px;
  font-family: raleway, arial, sans-serif;

  text-transform: uppercase;
}
.entry-title a {
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.cardspan {
  display: block;
  margin-top: 10px;
  font-family: raleway, arial, sans-serif;
  font-weight: 700;
  color: #16a085;
}
.cardspan a {
  color: white;
}

/*Formulario*/
.formulario {
  height: 100vh;
  animation-name: opacity;
  animation-duration: 3s;
  width: 100%;
  background: url("/images/walppaper2.png");
  background-attachment: inherit;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.formTitulo {
  margin: 0 auto;
  padding-top: 55px;
  text-align: center;
  transition: opacity 500ms, transform 500ms;
}
.formTexto {
  width: 95%;
  text-align: center;
  margin: 70px auto 15px auto;
}
.flex {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formContact {
  margin: 60px auto 0 auto;
  display: flex;
  flex-direction: column;
}
.formContact p {
  display: flex;
}
.formMake {
  text-align: center;
}
.formContact img {
  display: flex;
  margin-right: 15px;
}
.formLogos {
  margin-bottom: 15px;
  width: 25px;
  height: 25px;
}
.formBtnContact {
  margin-top: 0px;
  order: -1;
  flex-direction: column;
  text-align: center;
  display: flex;
}
.formBtnContact a {
  font-size: 13px;
  letter-spacing: 1.2px;
  text-decoration: none;
  background-color: white;
  padding: 10px;
  color: #0d0d0d;
  border-radius: 20px;
  margin-bottom: 15px;
}

.footerStyle {
  margin-top: 0px;
  color: whitesmoke;
  background-color: #0d0d0d;
}

.footerStyle p {
  text-align: center;
  font-weight: normal;
  line-height: 30px;
}

.logo__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
}
.copy {
  text-align: center;
  font-size: 15px;
}
.copy a {
  text-decoration: none;
  color: white;
}
@media (max-width: 360px) {
  .me {
    height: 88vh;
  }
  .formulario {
    height: 110vh;
  }
  .homeTitulo {
    margin-bottom: 0px;
  }
  .homeContact {
    font-size: 16px;
  }
}
@media (min-width: 480px) {
  .homeTitulo {
    margin-bottom: 150px;
  }
  .card {
    width: 60%;
  }
  .me {
    height: 40vh;
  }
  .me__texto-p {
    margin-top: 40px;
    width: 80%;
  }
  .proyectos {
    height: 60vh;
  }
  .formulario {
    height: 65vh;
    margin-top: 0px;
    margin-bottom: -70px;
  }
  .formContact {
  }
  .parallax {
    background-attachment: fixed;
    background-size: cover;
  }
}
/*Responsive design*/
@media (min-width: 880px) {
  .home {
    background: url("/images/plants.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .homeTitulo {
    font-size: 30px;
    line-height: 85px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 150px;
  }

  .me__texto {
    flex-direction: row;
  }
  .me__texto-p {
    margin: 0 auto;
    width: 55%;
  }
  .me__titulo {
    margin: 0;
    font-size: 30px;
    color: #eca54d;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #0d0d0d10;
    transition: opacity 500ms, transform 500ms;
  }
  .me__titulo[data-scroll="out"] {
    opacity: 0;
    transform: translateX(-100%) scale(0.4);
  }
  .me__titulo[data-scroll="in"] {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }
  .parallax {
    margin-top: 50px;
  }

  .card {
    margin-top: 50px;
    width: 30%;
  }
  .card[data-scroll="out"] {
    opacity: 0;
    transform: translateY(-600%) scale(0.4);
  }
  .card[data-scroll="in"] {
    opacity: 1;
    transform: translateY(0%) scale(1);
  }

  .proyectos {
    padding: 0px;
    display: flex;
    height: 260px;
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .formulario {
    height: 60vh;
    width: 100%;
    margin: 00px auto -130px auto;
  }
  .formTitulo[data-scroll="out"] {
    opacity: 0;
    transform: translateX(100%) scale(0.4);
  }
  .formTitulo[data-scroll="in"] {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }
  .formTexto {
    margin-top: 40px;
  }

  .formBtnContact {
    animation-name: scalex;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .footerStyle {
    margin-top: 80px;
  }
}
@keyframes scalex {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@media (min-width: 1200px) {
  .proyectos {
    margin-bottom: 20px;
  }
  .me__texto-p {
    width: 40%;
  }
  .card {
    width: 25%;
    height: 200px;
  }
  .formulario {
    margin-bottom: -180px;
    margin-top: 90px;
  }
  .formTitulo {
    margin-bottom: 20px;
  }
}

@media (min-width: 375px) and (min-height: 667px) {
  .formulario {
    height: 95vh;
  }
  .me {
    height: 75vh;
  }
}
@media (min-width: 375px) and (min-height: 700px) {
  .formulario {
    height: 80vh;
  }
  .me {
    height: 60vh;
  }
} ;
