/*General Styles*/
html {
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: -webkit-fill-available;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #0d0d0d;
}

body::-webkit-scrollbar-thumb {
  background-color: #1abc9c;
  outline: 1px solid rgb(88, 126, 165);
  width: 10px;
}
.logo {
  width: 50px;
  height: 50px;
}

.home {
  height: 100vh;
  width: 100%;
  background: url("/images/plants.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.homeTitulo {
  text-align: center;
  transform: translateY(25vh);
  color: whitesmoke;
  line-height: 70px;
  letter-spacing: 1.2px;
  margin-bottom: 80px;
}
.perspective-text,
.brphone {
  display: none;
}
.homeContact {
  color: whitesmoke;
  float: right;
  margin: 200px auto 0 auto;
}
.btnContact {
  background-color: white;
  width: 40%;
  text-align: center;
  margin: 30px auto 0 auto;
  padding: 10px;
  border-radius: 10px;
}
.btnContact a {
  text-decoration: none;
  color: #0d0d0d;
}

/*About Me Styles*/
.me {
  height: 70vh;
  max-width: 100%;
  display: flex;
}
.me__texto {
  align-items: center;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.me__titulo {
  margin-top: 30px;
}
.me__titulo--background {
  transition: opacity 500ms, transform 500ms;
}
.me__texto-p {
  margin: 20px 7px 0 7px;
}
.space {
  padding: 10px;
}
.emojis {
  font-size: 17px;
  animation-name: scalex;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes scalex {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/*ValoresSecc*/

/*Proyectos TITULO*/

.parallax {
  height: 300px;
  width: 100%;
  background: url("/images/plants.jpg") no-repeat fixed top/cover;
}
.text {
  display: flex;
  justify-content: center;
  padding-top: 295px;
  transform: translateY(-50%);
  margin: 0px auto;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}
.text:hover {
  transform: rotateX(35deg) translateY(-50%);
}

.spanproyect:nth-child(odd) {
  transform: skewY(15deg);
  box-shadow: 0 90px 20px rgba(0, 0, 0, 0.1);
}
.spanproyect:nth-child(even) {
  transform: skewY(-15deg);
  background-color: #0d0d0d;
  box-shadow: 0 60px 20px rgba(0, 0, 0, 0.1);
}
.spanproyect {
  display: block;
  background-color: #0d0d0d;
  color: whitesmoke;
  font-weight: 900;
  width: 120px;
  height: 100px;
  line-height: 105px;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  box-shadow: 0 40px 50px rgba(0, 0, 0, 0.1);
}
/*Proyectos TIPS*/
.proyectos {
  background-color: white;
  width: 100%;
}
.card {
  text-align: center;
  width: 95%;
  padding: 30px;
  background: #0d0d0d;
  padding-top: 20px;
  margin: 30px auto;
  transition: 0.3s ease;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  color: #eca54d;
  box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.3),
    inset 0 -1px 0 0 rgb(68, 68, 68);
}
.card:hover {
  transform: translateY(-10px) scale(1.02);
}

.entry-title small {
  margin-top: 20px;
  font-family: raleway, arial, sans-serif;

  text-transform: uppercase;
}
.entry-title a {
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.cardspan {
  display: block;
  margin-top: 10px;
  font-family: raleway, arial, sans-serif;
  font-weight: 700;
  color: #16a085;
}
.cardspan a {
  color: white;
}

/*Formulario*/
.formulario {
  margin-top: 50px;
  height: 80vh;
  animation-name: opacity;
  animation-duration: 3s;
  width: 100%;
}
.formTitulo {
  margin: 0 auto;
  text-align: center;
  transition: opacity 500ms, transform 500ms;
}
.formTexto {
  width: 95%;
  text-align: center;
  margin: 0px auto 15px auto;
}

input,
textarea {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 75%;
}
input[type="email"],
input[type="text"],
input[type="tel"] {
  width: 95%;
  display: block;
  box-sizing: border-box;
  padding: 10px 10px;
  height: 40px;
  color: #eca54d;
  border: 1px solid #cdcdcd;
  outline: none;
  font-size: 15px;
  background-color: #0d0d0d;
  margin: 0 auto;
}
input[type="submit"] {
  font-size: 15px;
  text-align: center;
  float: right;
  width: 14%;
  margin-right: 15px;
  margin-top: 10px;
  background-color: #0d0d0d;
  color: white;
  font-weight: bolder;
  border: none;
}
input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #0d0d0d;
  color: #eca54d;
  font-weight: bolder;
  border: 2px solid rgba(211, 255, 213, 0.13);
}
label[class="comment"] {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 50px;
}
textarea[type="comment"] {
  margin: 0 auto;
  width: 95%;
  display: block;
  box-sizing: border-box;
  height: 300px;
  padding: 10px;
  font-size: 15px;
  color: #eca54d;
  background-color: #0d0d0d;
}
textarea[type="comment"]:hover {
  border: 1px solid #eca54d;
}
input[type="email"]:hover,
input[type="text"]:hover,
input[type="tel"]:hover,
input[type="password"]:hover {
  border: 1px solid #eca54d;
  box-shadow: inset 2px 2px 2px rgba(211, 255, 213, 0.13);
}
.footerStyle {
  padding: 15px 0;
  color: whitesmoke;
  background: url("/images/plants.jpg");
  background-attachment: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footerStyle p {
  text-align: center;
  font-weight: normal;
  line-height: 30px;
}
.mapa {
  display: flex;
  justify-content: center;
  align-items: center;
}
.copy {
  text-align: center;
  font-size: 15px;
}
.copy a {
  text-decoration: none;
  color: white;
}
@media (min-width: 480px) {
  .homeTitulo {
    margin-bottom: 150px;
  }
  .card {
    width: 60%;
  }
  .me {
    height: 50vh;
  }
  .me__texto-p {
    margin-top: 40px;
    width: 80%;
  }
  .proyectos {
    height: 50vh;
  }
  .formulario {
    height: 65vh;
    margin-top: 30px;
  }
}
/*Responsive design*/
@media (min-width: 880px) {
  .homeTitulo {
    font-size: 35px;

    font-weight: 750;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 150px;
  }
  .me {
    height: 60vh;
  }
  .me__texto {
    flex-direction: row;
  }
  .me__texto-p {
    margin: 0 auto;
    width: 55%;
  }
  .me__titulo {
    margin: 0;
    font-size: 30px;
    color: #eca54d;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #0d0d0d10;
    transition: opacity 500ms, transform 500ms;
  }
  .me__titulo[data-scroll="out"] {
    opacity: 0;
    transform: translateX(-100%) scale(0.4);
  }
  .me__titulo[data-scroll="in"] {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }
  .card {
    margin-top: 50px;
    width: 30%;
  }

  .proyectos {
    padding: 0px;
    display: flex;
    height: 260px;
    margin-top: 40px;
  }
  input[type="email"],
  input[type="text"],
  input[type="tel"] {
    width: 100%;
  }
  input[type="submit"] {
    width: 8%;
    margin-right: 0;
  }
  textarea[type="comment"] {
    width: 100%;
    height: 350px;
  }
  .formulario {
    width: 100%;
    margin: 70px auto 100px auto;
  }
  .form {
    width: 50%;
    background-color: orangered;
    margin: 0 auto;
  }
  .formTitulo[data-scroll="out"] {
    opacity: 0;
    transform: translateX(100%) scale(0.4);
  }
  .formTitulo[data-scroll="in"] {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }
  .footer {
    display: flex;
  }
  .footerStyle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .localizacion {
    display: none;
  }

  .mapa {
    margin: 0;
    display: flex;
    position: relative;
    width: 550px;
  }
}
@media (min-width: 1200px) {
  .me__texto-p {
    width: 40%;
  }
  .card {
    width: 20%;
    height: 200px;
  }
  .formulario {
    margin-top: 150px;
  }
  .formTitulo {
    margin-bottom: 20px;
  }
}
